.success-stories-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.success-stories-text10 {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.success-stories-text11 {
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
.success-stories-text14 {
  display: inline-block;
  padding: 0px;
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.success-stories-text17 {
  display: inline-block;
  font-size: 12px;
  margin-right: var(--dl-space-space-unit);
}
.success-stories-text20 {
  display: inline-block;
}
.success-stories-text21 {
  display: inline-block;
}
.success-stories-text24 {
  display: inline-block;
  text-align: center;
}
.success-stories-text25 {
  color: var(--dl-color-theme-primary2);
  width: 790px;
  margin: var(--dl-space-space-unit);
  display: inline-block;
  padding: var(--dl-space-space-halfunit);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.success-stories-text26 {
  text-decoration: underline;
}
.success-stories-text28 {
  text-decoration: underline;
}
.success-stories-text30 {
  text-decoration: underline;
}
.success-stories-text34 {
  color: var(--dl-color-theme-primary2);
  width: 790px;
  margin: var(--dl-space-space-unit);
  display: inline-block;
  padding: var(--dl-space-space-halfunit);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.success-stories-text39 {
  width: 75%;
  height: 100%;
  margin: var(--dl-space-space-unit);
  display: inline-block;
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.success-stories-text45 {
  display: inline-block;
}
.success-stories-text48 {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}
.success-stories-text49 {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 24px;
}
.success-stories-text51 {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 24px;
}
.success-stories-text53 {
  color: var(--dl-color-theme-primary2);
  font-size: 52px;
}
.success-stories-text55 {
  font-size: 28px;
}
.success-stories-text57 {
  font-size: 28px;
}
.success-stories-text59 {
  font-size: 28px;
}
.success-stories-text61 {
  font-size: 28px;
}
.success-stories-text63 {
  font-size: 28px;
}
.success-stories-text65 {
  display: inline-block;
  text-align: center;
}
.success-stories-text68 {
  display: inline-block;
}
.success-stories-text69 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 100%;
  height: 100%;
  display: inline-block;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-light);
}
.success-stories-text70 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 100%;
  height: 100%;
  display: inline-block;
  border-width: 0px;
  background-color: var(--dl-color-theme-neutral-light);
}
.success-stories-text71 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 100%;
  height: 100%;
  display: inline-block;
  border-width: 0px;
  background-color: var(--dl-color-theme-neutral-light);
}
.success-stories-text72 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  margin: var(--dl-space-space-halfunit);
  display: inline-block;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.success-stories-text73 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  margin: var(--dl-space-space-halfunit);
  display: inline-block;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.success-stories-text74 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  margin: var(--dl-space-space-halfunit);
  display: inline-block;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 1200px) {
  .success-stories-text10 {
    padding: 4px;
    text-align: center;
  }
  .success-stories-text11 {
    padding: 4px;
    text-align: center;
  }
  .success-stories-text14 {
    padding: 4px;
    text-align: center;
  }
  .success-stories-text25 {
    color: var(--dl-color-theme-primary2);
    width: auto;
    height: auto;
    font-size: 24px;
  }
  .success-stories-text26 {
    text-decoration: underline;
  }
  .success-stories-text28 {
    text-decoration: underline;
  }
  .success-stories-text30 {
    text-decoration: underline;
  }
  .success-stories-text34 {
    color: var(--dl-color-theme-primary2);
    font-size: 18px;
  }
  .success-stories-text40 {
    font-size: 24px;
  }
  .success-stories-text41 {
    font-size: 24px;
  }
  .success-stories-text42 {
    font-size: 24px;
  }
  .success-stories-text43 {
    color: var(--dl-color-theme-neutral-dark);
    font-size: 24px;
  }
}
@media(max-width: 991px) {
  .success-stories-text10 {
    text-align: center;
  }
  .success-stories-text11 {
    text-align: center;
  }
  .success-stories-text14 {
    text-align: center;
  }
  .success-stories-text17 {
    margin-right: var(--dl-space-space-unit);
  }
  .success-stories-text69 {
    background-color: var(--dl-color-theme-neutral-light);
  }
  .success-stories-text70 {
    background-color: var(--dl-color-theme-neutral-light);
  }
  .success-stories-text71 {
    background-color: var(--dl-color-theme-neutral-light);
  }
  .success-stories-text72 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    font-style: normal;
    font-weight: 700;
  }
  .success-stories-text73 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    font-style: normal;
    font-weight: 700;
  }
  .success-stories-text74 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    font-style: normal;
    font-weight: 700;
  }
}
@media(max-width: 767px) {
  .success-stories-text10 {
    text-align: center;
  }
  .success-stories-text11 {
    text-align: center;
  }
  .success-stories-text14 {
    text-align: center;
  }
  .success-stories-text17 {
    text-align: center;
    padding-right: var(--dl-space-space-halfunit);
  }
  .success-stories-text21 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .success-stories-text34 {
    color: var(--dl-color-theme-primary2);
    font-size: 18px;
  }
  .success-stories-text49 {
    color: var(--dl-color-theme-neutral-dark);
    font-size: 24px;
  }
  .success-stories-text50 {
    color: var(--dl-color-theme-neutral-dark);
    font-size: 24px;
  }
  .success-stories-text51 {
    color: var(--dl-color-theme-neutral-dark);
    font-size: 24px;
  }
  .success-stories-text52 {
    color: var(--dl-color-theme-primary2);
    font-size: 52px;
  }
  .success-stories-text53 {
    color: var(--dl-color-theme-primary2);
    font-size: 52px;
  }
  .success-stories-text55 {
    font-size: 28px;
  }
  .success-stories-text56 {
    font-size: 28px;
  }
  .success-stories-text57 {
    font-size: 28px;
  }
  .success-stories-text58 {
    font-size: 28px;
  }
  .success-stories-text59 {
    font-size: 28px;
  }
  .success-stories-text60 {
    font-size: 28px;
  }
  .success-stories-text61 {
    font-size: 28px;
  }
  .success-stories-text62 {
    font-size: 28px;
  }
  .success-stories-text63 {
    font-size: 28px;
  }
  .success-stories-text65 {
    margin: var(--dl-space-space-unit);
    padding: var(--dl-space-space-halfunit);
    font-size: 24px;
    padding-right: 8px;
  }
  .success-stories-text72 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
  }
  .success-stories-text73 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
  }
  .success-stories-text74 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
  }
}
@media(max-width: 479px) {
  .success-stories-text14 {
    text-align: center;
  }
  .success-stories-text15 {
    font-weight: 700;
  }
  .success-stories-text21 {
    fill: var(--dl-color-theme-primary2);
    color: var(--dl-color-theme-neutral-light);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .success-stories-text25 {
    color: var(--dl-color-theme-primary2);
    width: auto;
    height: auto;
    margin: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .success-stories-text26 {
    font-size: 28px;
    text-decoration: underline;
  }
  .success-stories-text27 {
    font-size: 28px;
    text-decoration: underline;
  }
  .success-stories-text28 {
    font-size: 28px;
    text-decoration: underline;
  }
  .success-stories-text29 {
    font-size: 28px;
    text-decoration: underline;
  }
  .success-stories-text30 {
    font-size: 28px;
    text-decoration: underline;
  }
  .success-stories-text33 {
    font-size: 18px;
  }
  .success-stories-text34 {
    color: var(--dl-color-theme-primary2);
    width: auto;
    margin: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .success-stories-text39 {
    width: auto;
    margin: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .success-stories-text69 {
    justify-content: center;
  }
  .success-stories-text72 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
  }
  .success-stories-text73 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .success-stories-text74 {
    fill: var(--dl-color-theme-accent2);
    color: var(--dl-color-theme-accent2);
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-left: 1x;
    margin-right: 1x;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
